<style type="text/css">
*, *:after, *:before {
  font-family: arial, sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
  color: rgb(77, 79, 83);
}

.header {
  height: 10vh;
}

body {
  font-family: monospace;
}

html, body {
	height: 100%;
}

.wrapper {
  text-align: center;
	min-height: 90%;
	margin: 0 auto -155px;
}

.content {
  max-width: 800px;
  min-height: 72vh;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  text-align: center;
}

.footer, .push {
	height: 155px;
}

.logo img {
  max-width: 250px;
}

.name img {
  max-width: 400px;
  margin: 3vh 0 5vh 0;
}

.text p {
  padding-top: 1vh;
}

.btn {
	border: 2px solid rgb(77, 79, 83);
	color: rgb(77, 79, 83);
	border-radius: 30px;
	display:inline-block;
	padding:20px 80px;
	width:auto;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
}

.btn:hover {
	background-color: orange;
	color: #fff;
  border: none;
}

.btnSpace {
  margin-top: 3vh;
}

.social {
  cursor: pointer;
}

.footerIcon {
  text-decoration: none;
}

.dribbble {
  fill: rgb(77, 79, 83);
  opacity: 1;
}
.dribbble:hover {
  fill: #ea4c89;
  opacity: 1;
}

.twitter {
  fill: rgb(77, 79, 83);
  opacity: 1;
}
.twitter:hover {
  fill: #00aced;
  opacity: 1;
}

.youtube {
  fill: rgb(77, 79, 83);
  opacity: 1;
}
.youtube:hover {
  fill: red;
  opacity: 1;
}

.linkedin {
  fill: rgb(77, 79, 83);
  opacity: 1;
}
.linkedin:hover {
  fill: #007bb6;
  opacity: 1;
}

.mail {
  fill: rgb(77, 79, 83);
  opacity: 1;
}
.mail:hover {
  fill: orange;
  opacity: 1;
}

.dribbble2:hover ~ .dribbble {
  fill: #ea4c89;
  opacity: 1;
}

.twitter2:hover ~ .twitter {
  fill: #00aced;
  opacity: 1;
}

.youtube2:hover ~ .youtube {
  fill: red;
  opacity: 1;
}

.linkedin2:hover ~ .linkedin {
  fill: #007bb6;
  opacity: 1;
}

.mail2:hover ~ .mail {
  fill: orange;
  opacity: 1;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 769px) {

}

@media only screen and (max-width: 480px) {

}



</style>
