<style type="text/css">
*, *:after, *:before {
	font-family: arial, sans-serif;
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.header {
  height: 10vh;
}

body {
  font-family: monospace;
}

html, body {
	height: 100%;
}

.wrapper {
  text-align: center;
  min-height: 90%;
  margin: 0 auto -155px;
}

.footer {
  text-align: center;
}

.footer, .push {
	height: 155px;
}

.footerIcon {
  width: 75px;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 769px) {

}

@media only screen and (max-width: 480px) {

}



</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75278202-1', 'auto');
  ga('send', 'pageview');

</script>
